JWT_SECRET=
CSRF_SECRET=
SESSION_SECRET=
PORT=
ALLOWED_ORIGIN=
SEED_ADMIN_USERNAME=
SEED_ADMIN_PASSWORD=
SEED_ADMIN_EMAIL=
SEED_USER_USERNAME=
SEED_USER_PASSWORD=
SEED_USER_EMAIL=
SQLI_FLAG=
XSS_FLAG=
IDOR_FLAG=
MASS_ASSIGNMENT_FLAG=
